<div class="max-w-3xl m-auto px-4">
<div class="p-10 pt-5 pb-5 mt-5 mb-2 bg-white border border-grey-light rounded">

  <h1 class="text-2xl mt-0 mb-2">Guidelines</h1>

  <p class="text-sm text-grey-darker mb-3 md:text-justify">
  Our community is fortunate to have our own tennis court and we are happy to see it being used extensively in this work-from-home environment.  
  This reservation system’s intended purpose is to reduce the hassle of going to the court and waiting for it to become available, hence reservations can only be made for the current date.
  </p>
  
  <p class="text-sm text-grey-darker mb-3 md:text-justify">
  We hope homeowners will use good judgement in terms of utilizing the court and the reservation system to ensure that everyone has an 
  opportunity to use this perk if they wish to do so. Here are some guiding principles that all homeowners should adhere to:
  </p>

  <ul class="list-disc text-xs text-grey-darker">
    <li>No individual should be playing for more than 1 hour in a day, unless the court is available and not being utilized.</li>
    <li>Each homeowner should be booking only under their name/login, and should not be booking on someone else's behalf. Please don't share your login information with anyone.</li>
    <li>If no timeslots are reserved, the court can be used by anyone waiting outside on a first-come first-serve basis.  If no one is waiting for the court, the current players can play as long as they want.</li>
    <li>If the homeowner making the reservation doesn’t show up within 10 minutes of their reserved time, the court becomes open to whoever is present and waiting for the court.</li>
    <li>If the homeowner has made a reservation and is unable to utilize it - please cancel the reservation in advance, so one of your neighbors can book the time slot.</li>
    <li>While it is okay to have your child get lessons in the court, please remember that the primary purpose of the court is for recreational use and not as a training facility.</li>
    <li>Evening times seem to be more popular, so we would greatly appreciate if you only choose a few days in the week to play in the evenings instead of everyday, so that others also have a chance to play.</li>
    <li>Please give proper courtesy to each homeowner and exit the court in a timely manner once your time slot is over.</li>
    <li>Homeowners waiting to play should wait at least 6-10 feet away from the gate to allow the players to exit safely.</li>
  </ul>

    <button class="text-sm bg-blue-500 font-semibold text-white py-2 px-4 rounded mb-2 mt-10">
        <%= link_to 'Continue', reservations_path %>
    </button>

</div>
</div>
