<div class="max-w-2xl m-auto px-4">
<div class="p-10 pt-5 pb-5 mt-10 mb-2 bg-white border border-grey-light rounded">

  <h1 class="text-md text-grey-darker mb-2 text-center">
    The tennis courts are closed due to construction until further notice. 
  </h1>

  <div class="block sm:hidden mt-4 text-center">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default py-2 px-4 mb-2" %>
  </div>

</div>
</div>
