<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation %>

<%= link_to 'Destroy', @reservation, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', reservations_path %>
